@import url(http://fonts.googleapis.com/css?family=Oswald:700|Orbitron);

body {
  background: #888888;
  padding: 20px;
  width: 100%;
}

#calculator {
  background: #DC2E8D;
  border-radius: 20px;
  padding: 15px;
  width: 335px;
  margin-left: auto;
  margin-right: auto;
}

#screen-container {
  background: #5E626D;
  border-radius: 10px;
  padding: 20px;
}

#screen {
  background: #181619;
  border: none;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.4em;
  color:#F44870;
  font-weight: 600;
  height: 17px;
  padding: 15px;
  width: 265px;
  z-index: 1;
}

#zero {
  width: 225px;
}

#cancel {
  background: #972ED5;
  width: 147px;
}

#calc {
  height: 89px;
}

#button-container {
  padding: 30px 0 0 15px;
}

.l-row {
  position: absolute;
  top: 362px;
}

.buttons {
  overflow: hidden;
}

.buttons span {
  background: #972ED5;
  border-radius: 3px;
  border: none;
  box-shadow: inset 0px 1px 0px #5E626D, 0px 5px 0px 0px #45637F;
  cursor: pointer;
  float: left;
  font-family: 'Oswald', sans-serif;
  width: 70px;
  height: 40px;
  margin: 0 7px 11px 0;
  line-height: 40px;
  text-align: center;
}

.buttons span:active {
  top: 3px;
  box-shadow: inset 0px 1px 0px #5B3AD8, 0px 2px 0px 0px #45637F;
}

.operator {
  font-size: 1.3em;
}
